In [1]:
import pandas as pd
import numpy as np

In [2]:
# loading the csv file
csv_data_file = "Resources/flights_Year_Data.csv"

# reading csv file into a data frame
airline_csv_df = pd.read_csv(csv_data_file)

C:\Users\bbcho\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (7,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
# View the first five rows
airline_csv_df.head()

,YEAR,MONTH,DAY,DAY_OF_WEEK,AIRLINE,FLIGHT_NUMBER,TAIL_NUMBER,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,...,ARRIVAL_TIME,ARRIVAL_DELAY,DIVERTED,CANCELLED,CANCELLATION_REASON,AIR_SYSTEM_DELAY,SECURITY_DELAY,AIRLINE_DELAY,LATE_AIRCRAFT_DELAY,WEATHER_DELAY
0,2015,1,1,4,AS,98,N407AS,ANC,SEA,5,...,408.0,-22.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,1,4,AA,2336,N3KUAA,LAX,PBI,10,...,741.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,1,4,US,840,N171US,SFO,CLT,20,...,811.0,5.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,1,4,AA,258,N3HYAA,LAX,MIA,20,...,756.0,-9.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,1,4,AS,135,N527AS,SEA,ANC,25,...,259.0,-21.0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#Total number of flights in our dataset:
len(airline_csv_df.index)

5819079

In [5]:
#Remove rows with invalid Origin Airport
airlines_clean_df = airline_csv_df[pd.to_numeric(airline_csv_df['ORIGIN_AIRPORT'], errors='coerce').isna()]

In [6]:
#Total number of flights in our dataset:
len(airlines_clean_df.index)

5332914

In [7]:
#clean the df with columns not required for the model
airlines_clean_df.drop(['YEAR','DAY','FLIGHT_NUMBER','DEPARTURE_TIME','DEPARTURE_DELAY',
                        'SCHEDULED_ARRIVAL','ARRIVAL_TIME','TAIL_NUMBER','TAXI_OUT','WHEELS_OFF','SCHEDULED_TIME',
                        'ELAPSED_TIME','AIR_TIME','DISTANCE','WHEELS_ON','TAXI_IN','DIVERTED','CANCELLED',
                        'CANCELLATION_REASON','AIR_SYSTEM_DELAY','SECURITY_DELAY','AIRLINE_DELAY',
                        'LATE_AIRCRAFT_DELAY','WEATHER_DELAY'],axis=1,inplace=True)

C:\Users\bbcho\AppData\Local\conda\conda\envs\PythonData\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [8]:
airlines_clean_df.head()

,MONTH,DAY_OF_WEEK,AIRLINE,ORIGIN_AIRPORT,DESTINATION_AIRPORT,SCHEDULED_DEPARTURE,ARRIVAL_DELAY
0,1,4,AS,ANC,SEA,5,-22.0
1,1,4,AA,LAX,PBI,10,-9.0
2,1,4,US,SFO,CLT,20,5.0
3,1,4,AA,LAX,MIA,20,-9.0
4,1,4,AS,SEA,ANC,25,-21.0

In [9]:
len(airlines_clean_df.index)

5332914

In [10]:
#save the cleaned file to csv for model processing
airlines_clean_df.to_csv("Resources/airlines_ML_clean_df.csv", index=False)
print("file write done")

file write done

In [11]:
#confirming the airlines
airlines_clean_df.AIRLINE.unique()

array(['AS', 'AA', 'US', 'DL', 'NK', 'UA', 'HA', 'B6', 'OO', 'EV', 'MQ',
       'F9', 'WN', 'VX'], dtype=object)